.container {
  width: 100%;
  max-width: 700px;
  padding: 0 2rem;

  padding-bottom: 2.5rem;

  // Aligns div to the center
  margin: 0 auto;

  img {
    cursor: pointer;

    transition: filter 0.5s;

    &:hover {
      filter: drop-shadow(0 4px 4px rgb(255 255 255 / .25));
    }
  }
}
